doctype html
html(lang="ru-RU")
    head
        title Hello World
    body
        p ДРАТУТИ, ИТА ПАГ

        section.test
            ul.test-list
                li.test-item
                    p.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, esse aliquam dicta aspernatur ea vero nemo incidunt nisi cupiditate, corrupti earum? Vel doloribus, id nisi praesentium consequuntur minus quia suscipit?

                li.test-start
                    p Lorem, ipsum dolor.